* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.friendly-massege {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 10vh;
    display: grid;
    place-items: center;
    transition: 0.7s all linear;
    background-color: rgb(233, 56, 56);
    color: white;
    font-size: 18px;
}

.displayNone {
    display: none;
}

.login-module {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    padding: 10px;
    border: 1px solid grey;
    
}

.login {
    width: 300px;
    padding: 8px;
    font-size: 18px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    display: grid;
    place-items: center;
}
.login:active {
    background-color: rgb(36, 36, 36);
}